
/**************************************/
/*           COLOR SCHEME             */
/***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
p {
    font: Verdana, Geneva, Arial, Helvetica, "sans serif";
    font-size: 13px;
    /*letter-spacing: 0.1mm;
    word-spacing: 0.1mm;*/
}
/**************************************/
/*              HEADER                */
/**************************************/
#header {
    background:#666666;
    color:#fff;
    margin: 0;
    padding: 0;
}
#header #webname{
    position:relative;
    height:50px;
}
#webname h1{
    position:absolute;
    bottom:0;
    color:#fff;
    font-size:17pt;
}

/**************************************/
/*             NAVIGATION             */
/**************************************/

ul#topnav {
    list-style: none;
    margin: 13px 0 0 0;
}
ul#topnav li{
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid #eeeeee;
}
ul#topnav li.home {
    border: none;
    padding-left: 0;
    margin-left: 0;
}
ul#topnav a:link{
    font-family: Arial, "san-serif";
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    /*line-height: 50px;*/
}
ul#topnav a:hover, ul#topnav a:active {
    color:#000;
}



/**************************************/
/*            MAIN CONTENT            */
/**************************************/

#main {
    background: url(images/bg_main.gif) #fff top center no-repeat;
}

#title{
    height:100px;
    position:relative;
}
#title h2{
    position:absolute;
    bottom:0px;
}
#content{
    min-height:500px;
}




/**************************************/
/*               FOOTER               */
/**************************************/

#footer{
    height:300px;
    background:#000;
    color:#fff;
}



/**************************************/
/*            Common Widgets             */
/**************************************/


.breadcrumbs{
    
}
.breadcrumbs ul{
    padding:0;
    margin:0;
}
.breadcrumbs li{
    display:inline;
    list-style:none;
}


table.form{
}

table.form tr td{
    background:#fff;
}


.mainmenu a:link, .mainmenu a:visited{
    display:block;
    background:#BFBFBF;
    text-align:center;
    padding:10px 0;
    text-decoration:none;
    font-weight:bold;
    color:#000000;
}

form fieldset{
    position:relative;
}

form p label{
    
}




