{% extends "siswa.html" %}
{% block title%} Tambah Siswa : {{ step }} dari {{ step_count}} step {%endblock title%}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
    {{ previous_fields|safe }}
    <fieldset>
        <legend>Data Ibu</legend>
        {% for field in form %}
        <div class="row">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
    </fieldset>
    <div class="row buttons">
        <button type="submit" disabled="disabled" class="disabled">Next</button>
        <button type="submit">Finish</button>
    </div>
    
</form>
{% endblock content %}
